@model KindergartenManagementSystem.Models.EatScore
@{
    ViewData["Title"] = "GetScoreDetail";
}

<h2>GetScoreDetail</h2>
<p>Student Id: @Html.DisplayFor(a => Model.StuId)</p>
<p>Teacher: @Html.DisplayFor(a => Model.Teacher)</p>
<p>Score: @Html.DisplayFor(a => Model.Score)</p>
<p>Date: @Html.DisplayFor(a => Model.Date)</p>
<p>Note: @Html.DisplayFor(a => Model.Note)</p>


