@model KindergartenManagementSystem.Models.ViolationModels.Record

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div class="container" style="width:60vw; margin-top: 4vh;">
        <h2 class="into">Are you sure you want to delete this?</h2>
        <button type="button" onclick="location.href='@Url.Action("ViolationMainPage", "Violation")'">Back to MainPage</button>
        <div class="img-container" style="width:60vw; margin-top:4vh; font-size:1.2vw">
            <div class="col-md-6 col-sm-6">
                <label asp-for="childId"></label>
                @Model.childId
            </div>
            <div class="col-md-6 col-sm-6">
                <label asp-for="childName"></label>
                @Model.childName
            </div>
            <div class="col-md-6 col-sm-6">
                <label asp-for="reason"></label>
                @Model.reason
            </div>
            <div class="col-md-6 col-sm-6">
                <label asp-for="score"></label>
                @Model.score
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <form asp-action="DeleteRecord">
                <input type="submit" value="Delete" />
            </form>
        </div>
    </div>
</body>
</html>