@model KindergartenManagementSystem.Models.NoonBreak

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div>
    <h4>午休记录详情</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHalfSleep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHalfSleep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSelfDress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSelfDress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMakeBed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMakeBed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GetupInto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetupInto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Healthy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Healthy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abnormal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abnormal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalFen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalFen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

    </dl>
</div>
<p>
    @if (ViewBag.auth == "teacher")
    {
        @Html.ActionLink("编辑", "Edit", new { id = Model.Id })
        <span>|</span>
    }

    @Html.ActionLink("返回管理列表", "Index")
</p>
